@import '../../shared/assets/styles/variables';
@import '../../shared/assets/styles/reset';
@import '../../shared/assets/styles/global';

.profile-area{
  min-width: 65rem;
  width: 50%;
  margin: 0 auto;

  &__item{
    margin: 1rem 0;

    .label{
      color: #000;
    }
  }
}