.dancer-list {
  margin: 1rem auto;
  max-width: 80rem;
  &-item {
    display: flex;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    background: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    border-radius: 5px;
    &__part {
    }
    &__primary {
      margin-right: 1rem;
    }

    .row-image {
      height: 10%;
      width: 10%;
    }
    .row-main {
      width: 60%;
    }
    .row-actions {
      display: flex;
      justify-content: flex-end;
      width: 30%;
    }
  }
}
