@import '../../../shared/assets/styles/variables';
@import '../../../shared/assets/styles/reset';
@import '../../../shared/assets/styles/global';

.events-area {
  display: block;
  margin: 0 auto;

  &-header {
    text-align: center;
  }
}
.events-item {
  display: flex;
  flex-direction: row;
  &.past {
    background: $app-primary;
    color: #fff;
  }
  &.current {
    background: $app-success;
    color: #fff;
  }
  &.future {
    background: #fff;
  }

  .events-item-primary-action {
    width: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    button {
      width: 100%;
      background: transparent;
      border: none;
      font-size: 3rem;
    }
  }
  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    p {
      margin-right: 1rem;
    }
  }
}
