$bs-border-radius: 4px;

$app-text-light: #f8f9fa;
$app-gray-normal: #ccc;
$app-gray-medium: #a9a9a9;
$app-gray-dark: #343a40;

$app-success: #28a745;
$app-primary: #007bff;

$border: 1px solid $app-gray-normal;
